.header {
    background-color:#131213;
    display: flex;
    align-items: center;
    height: 30vh;
    gap: 2rem;
    cursor: pointer;
}

.header img {
    width: 10%; 
    border-radius: 50%;
    box-shadow: 0 0 8px 3px rgba(129, 157, 207, 0.8); /* White blurry border */
    margin-left: 1rem;
}

.header h1 {
    font-size: 3rem;
    color: rgb(238, 236, 244);
    font-weight: bold;
}

.login-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin: -11rem 1rem 8.5rem 0;

}

.login-btn button {
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1px;
    background-color: rgb(20, 26, 100);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

.login-btn button:hover {
    color: rgb(147, 189, 224);
}

.font-header {
    font-family: "Spectral SC", serif;
    font-weight: 800;
    font-style: italic;
}