/* .options { */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: left; */
    /* margin: -11rem 1rem 8.5rem 0;; */
/* } */

/* .options li {
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1px;
    color: rgb(44, 33, 75);
    cursor: pointer;
    text-transform: uppercase;
}

.options li:hover {
    color: rgb(44, 33, 75);
} */

.navbar-link {
    text-decoration: none;
}

.navbar-link.active {
    font-weight: bold;
}